<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAptService" />
                <binding name="YumServiceSoap" />
                <binding name="BasicHttpBinding_IKgbService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:31606/AptService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAptService" contract="AptService.IAptService"
                name="BasicHttpBinding_IAptService" />
            <endpoint address="http://localhost:32823/YumService.asmx" binding="basicHttpBinding"
                bindingConfiguration="YumServiceSoap" contract="YumService.YumServiceSoap"
                name="YumServiceSoap" />
            <endpoint address="http://localhost:32153/KgbService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IKgbService" contract="KgbService.IKgbService"
                name="BasicHttpBinding_IKgbService" />
        </client>
    </system.serviceModel>
</configuration>